.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#quote-box{
  width: 50%;
  margin:auto;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 30px;
}

#author{
  text-align: end;
  padding-right: 15px;
  font-size: 25px;
  opacity: 0.9;
  transition: 2.0s;
}

#text{
  font-size: 30px;
  opacity: 0.9;
  transition: 2.0s;
}

#facebook-quote, #tweet-quote{
  float: left;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  opacity: 0.9;
  transition: 2.0s;
}

#new-quote{
  float: right;
  color: white;
  border-radius:10%;
  padding: 20px;
  border: none;
  cursor: pointer;
  font-size: medium;
  margin: 10px;
  opacity: 0.9;
  transition: 2.0s;
}

.button {
  text-decoration: none;
  border-radius: 10px;
}

a {
  color: white;
}
